.feynman__link {
  margin: 0;
  padding: 0;
  border: none;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  text-decoration: none;
  color: #2f80ed;
  cursor: pointer;
  z-index: 99;
  opacity: 1;
}

.feynman__link:hover {
  transition: opacity .8s linear;
  opacity: .5;
}
