.footer__column_content-copyright {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}
